<html>
<head>
    <title>Weather</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <div class="main_content"> 

        {{>header}}

        <p>this is help page</p>

    </div>

    {{>footer}}

</body>
</html>